@charset "utf-8";
/* CSS Document */
h1 {
	margin: 0px;
	padding: 2px 0;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	margin: 0px;
	padding: 2px 0;
	font-size: 25px;
	font-weight: normal;
}

body{
	text-align:center;
}

