@charset "utf-8";
/* CSS Document */

body {
font: normal 100% Helvetica, Arial, sans-serif;
}

h1 {
font-size: 1.5em;
}

small {
font-size: 0.875em;
}

.main{
	float: right;
	width:70%
}

.leftBar{
	float: left;
	width:25%
	}

@media screen and(max-device-width:400px){	
.colum{
	float:none;
	width:auto;
	}
	
#sidebar{
	display:none;
}
}
img{max-width:100%;}
img,object{ max-width:100%;）
